

<div class="container bg-light">
    <div class="d-flex flex-row justify-content-between ">
        <img class="rounded mx-auto d-block" src="{{logo}}">
        <div >
            <p>Bienvenue sur notre site Pizza Time</p>
            <p>Adresse : 2 rue des fleures, 78000, Versailles</p>
            <p class="font-weight-bold">Ouvert du Mardi au Dimanche </p>
            
            <thead>Commander :</thead>
            <tbody>
                <ul>
                    <li>Horaire : 11h - 22h30</li>
                    <li>Téléphone : 01 30 47 58 96</li>
                    <li>WhatsApp : 06 02 85 22 96</li>
                </ul>
            </tbody>
        </div>
    </div>
</div>