
      <h2 class="text-center" >Nos Pizzas</h2>
      <button class="btn btn-primary" (click)="toggle()" id="bt">
            {{buttonName}}
      </button>
      <div class="d-flex flex-row ">
            <div id="test" *ngFor="let pizza of pizzas">
                  <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="{{imageSrc}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{pizza.name}}</h5>
                        <h6 class="card-subtitle mb-2">{{pizza.price}}€</h6>
                        <p *ngIf="show" class="card-text">{{pizza.ingredients}}</p>
                  
                  </div>
            </div>
      </div>
  


 

 


  
