<div class="container bg-light  ">
      <h2 class="text-center text-light bg-dark" >Nos Pizzas</h2>
      
      <div class="d-flex flex-row flex-wrap justify-content-between ">
            <div *ngFor="let pizza of pizzas">
                  <div class="card m-5" style="width: 18rem;">
                        <img class="card-img-top" src="{{imageSrc}}" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">{{pizza.name}}</h5>
                        <h6 class="card-subtitle mb-2">{{pizza.price}}€</h6>
                        <p id="{{pizza.id}}"  class="card-text invisible">{{pizza.ingredients}}</p>
                        <button class="btn btn-primary" (click)="detail(pizza.id)" >
                             {{buttonName}}
                        </button>
                  
                  </div>
            </div>
      </div>
</div>
  


 

 


  
